tgcrypto
requests
pyromod
aiohttp
ffprobe
asyncio
humanize
pycurl
aria2
yt-dlp==2023.10.13
aiofiles
logger
pyromod
pymongo
wget
httpx
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
